<!--  how to use css in python_ flask-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <title>Home</title>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <div class="body">
    <div class="topR">
      Section 1
<!--      <iframe src="{{ url_for('video_feed') }}" title="test" width="800" height="500"></iframe>-->
      <img src="{{ url_for('video_feed') }}">
      <img id="overlay-image" src="">
    </div>

    <div class="topL">
      Section 2
    </div>

    <div class="downL">
      Section 3
      <button onclick="movingFunc('forward', '/static/forward.png')">Forward</button>
      <button onclick="movingFunc('backward', '/static/backward.png')">Backward</button>
      <button onclick="movingFunc('right', '/static/right.png')">Right</button>
      <button onclick="movingFunc('left', '/static/left.png')">Left</button>
      <script>
        function movingFunc(movingVar, imageSrc) {
          fetch(movingVar)
            .then((response) => response.json())
            .then((data) => console.log(data));

          var overlayImage = document.getElementById('overlay-image');
          overlayImage.src = imageSrc;
        }
      </script>

      <button onclick="funny()">Other</button>
      <script>
        function funny() {
          fetch("forward");
          var overlayImage = document.getElementById('overlay-image');
          overlayImage.src = '/static/forward.png';
          fetch("right");
          var overlayImage = document.getElementById('overlay-image');
          overlayImage.src = '/static/right.png';
          fetch("forward");
          var overlayImage = document.getElementById('overlay-image');
          overlayImage.src = '/static/forward.png';
          fetch("left")
          var overlayImage = document.getElementById('overlay-image');
          overlayImage.src = '/static/left.png';
            .then((response) => response.json())
            .then((data) => console.log(data));
        }
      </script>
    </div>

    <div class="downR">
      Section 4<br>
      <iframe id="log" src="/static/logFile.html" width="800" height="500" type="html/text" style="margin-top: 15px;">
        Not supported
      </iframe>
      <script>
        setInterval(() => {
          let logFrame = document.getElementById("log");
          
          fetch('/static/logFile.html')
            .then(response => response.text())
            .then(text => {
              text = text.trim() + '\n';
              text = text.replace(/\n/g, '<br>');
              logFrame.contentDocument.body.innerHTML = text;
              logFrame.contentWindow.scrollTo(0, logFrame.contentDocument.body.scrollHeight);
            });
        }, 200);
      </script>
    </div>
  </div>
</html>
